<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDojicqL3zLfJNK4kCVuig5Hs3g4m_2ppE</string>
	<key>GCM_SENDER_ID</key>
	<string>637166723446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendingMachineTask</string>
	<key>PROJECT_ID</key>
	<string>vending-machine-app-554dc</string>
	<key>STORAGE_BUCKET</key>
	<string>vending-machine-app-554dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637166723446:ios:6bb84b5c4fb0f631f85a57</string>
</dict>
</plist>